name: Terraform Plan Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    env:
      AWS_ACCESS_KEY_ID: 'mock'
      AWS_SECRET_ACCESS_KEY: 'mock'
      AWS_DEFAULT_REGION: 'us-east-1'
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2

    - name: Terraform Init
      run: terraform init

    - name: Create Terraform Plan
      run: terraform plan -out=tfplan
      continue-on-error: false

    - name: Run Tests
      run: pwsh ./tests/test-tf-plan.ps1